.wrapper {
  padding: 1vh;
}

.panel {
  display: flex;
  justify-content: center;

  ion-img {
    width: 65%;
    height: 15vh;
    margin-top: 5vh;
  }

  .p-description {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .p-action {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
  }
}
