<!-- <ion-card class="top ion-no-padding ion-no-margin ion-margin-bottom">
  <ion-slides class="summary" mode="ios">
    <ion-slide class="flex-center">
      <ion-card>
        <div *ngIf="connected" class="">{{connected.interests.length}}</div>
        <div class="">Centre d'interets</div>
      </ion-card>
      <ion-card>
        <div *ngIf="connected" class="">{{connected.competencies.length}}</div>
        <div class="">Competences</div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        Summary
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        Summary
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-card> -->
<div class="vous">
  {{connected.first_name}} ameliorez votre profil !

</div>

<div class="top">
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide *ngIf="connected && connected.competencies">
      <ion-card (click)="editCompet()" button mode="ios" class="f-c ion-activatable">
        {{connected.competencies.length}} <br> Competence(s)
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
    <ion-slide *ngIf="connected && connected.interests">
      <ion-card button (click)="editInterest()" mode="ios" class="f-c ion-activatable">
        {{connected.interests.length}} <br> Centres d'interet
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card button mode="ios" class="f-c ion-activatable">
        0 <br> Annonces effectuer
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card button mode="ios" class="f-c ion-activatable">
        0 <br> Post envoyer
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- <div class="flex ion-wrap">




  </div> -->
</div>
<div>

  <!-- 0% completer

  <ion-button routerDirection="" color="success" fill="outline" size="small" expand="block" strong>
    Augmenter ma visibilite </ion-button>
  <ion-note>do something like introjs on the big four tasks</ion-note> -->
</div>