<!-- <ion-card class="top ion-no-padding ion-no-margin ion-margin-bottom">
  <ion-slides class="summary" mode="ios">
    <ion-slide class="flex-center">
      <ion-card>
        <div *ngIf="connected" class="">{{connected.interests.length}}</div>
        <div class="">Centre d'interets</div>
      </ion-card>
      <ion-card>
        <div *ngIf="connected" class="">{{connected.competencies.length}}</div>
        <div class="">Competences</div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        Summary
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        Summary
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-card> -->
<div class="vous">
  Ameliorez voutre profil !
</div>

<div class="top">
  <div class="flex ion-wrap">
    <ion-card button mode="ios" class="f-c ion-activatable">
      0 <br> Competence
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
    <ion-card button mode="ios" class="f-c ion-activatable">
      0 <br> Centres d'interet
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
    <ion-card button mode="ios" class="f-c ion-activatable">
      0 <br> Commentaire
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
    <ion-card button mode="ios" class="f-c ion-activatable">
      0 <br> Post envoyer
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
  </div>
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>