<ion-header>
  <ion-toolbar color="primary">
    <form>
      <ion-searchbar color="light" class="ion-margin-top" (click)="openSearchBar()" mode="ios" placeholder="Rechercher"
        animated>
      </ion-searchbar>
    </form>
  </ion-toolbar>
  <ion-segment class="top" (ionChange)="updateValues($event)" color="light" *ngIf="topNav" #topSegment mode='md'
    [(ngModel)]="navValue">
    <ion-segment-button value="posts">
      <ion-label>Posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content no-padding forceOverscroll='true' [scrollEvents]="!showErrorPane"
  (ionScroll)="scrolling($event, topSegment, bodySegment)">

  <!-- <populars [popular]='false'></populars> -->

  <populars></populars>


  <h5 class="body-title">Publications</h5>

  <!-- (ionChange)="setFilter($event)" -->
  <ion-segment (ionChange)="updateValues($event)" #bodySegment mode='ios' [(ngModel)]="navValue">
    <ion-segment-button value="posts">
      <ion-label>Posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div class="ion-margin-bottom"></div>

  <div class="mmmmmmm" no-padding *ngIf="!showErrorPane">

    <div *ngIf="showLoader" [ngClass]="{'wait-answer': showLoader, 'no-wait':
      !showLoader}">
      <div class="loading">
        <div class="lds-roller primary">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>


    <post *ngFor="let item of toshow" [value]='item' [p]="(navValue === 'posts')? true: false"></post>

    <ion-infinite-scroll margin-top threshold="5%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Un instant...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div [ngClass]="{'hide-error': !showErrorPane}">
    <connection-error-pane (onRetry)="retry()">
    </connection-error-pane>
  </div>

</ion-content>