<ion-content>
  <!-- <div class="info-pane">
    <div [@showHide]="(showError)? 'show': 'hide'">
      <p>Erreur inatttendue, veuillez reesayer</p>
    </div>
  </div> -->

  <div class="main-wrapper cover-top flex-center">
    <div class="main">

      <p *ngIf="v_alternate=='signup'" class="sign-up-text">Creer un compte</p>

      <p *ngIf="v_alternate=='signin'" class="sign-up-text">Se connecter</p>

      <form [hidden]="!(v_alternate=='signup')" class="register" [formGroup]="newsignup" (ngSubmit)="process()">
      
       
        <!-- Email -->
        <mat-form-field>
          <button mat-icon-button matSuffix>
            <mat-icon>email</mat-icon>
          </button>
          <input autocomplete="email" matInput type="email" placeholder="Email" formControlName='email'>
          <mat-error *ngIf="email.invalid && email.touched">
            Entrez un E-mail valid
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <button mat-icon-button matSuffix>
            <mat-icon>lock</mat-icon>
          </button>
          <input matInput placeholder="Mot de passe" type="password" formControlName='password'
            autocomplete="current-password">
        </mat-form-field>

        <!-- Confirm password -->
        <mat-form-field>
          <button mat-icon-button matSuffix>
            <mat-icon>lock</mat-icon>
          </button>
          <input matInput placeholder="Mot de passe" type="password" formControlName='confirm_password'
            autocomplete="current-password">
          <mat-error *ngIf="(password.touched || confirm_password.touched) && !password_ok">
            Les mot de passes ne correcpondent pas
          </mat-error>
        </mat-form-field>
      </form>



      <mat-card class="login" [hidden]="!(v_alternate=='signin')">
        <form [formGroup]="loginForm">
          <mat-form-field padding-top>
            <button mat-icon-button matPrefix>
              <mat-icon>email</mat-icon>
            </button>
            <input type="email" autocomplete="email" matInput placeholder="E-mail" formControlName='login_email'>
          </mat-form-field>
          <mat-form-field>
            <button mat-icon-button matPrefix>
              <mat-icon>lock</mat-icon>
            </button>
            <input matInput placeholder="Mot de passe" type="password" formControlName='login_password'
              autocomplete="current-password">
          </mat-form-field>
        </form>
      </mat-card>


      <div size="12" class="action-btns">
        <ion-button color="light" (click)="perfom()" expand="block" fill="clear">
          VAlider
        </ion-button>
      </div>

      <div class="alternate">
        <ng-container *ngIf="v_alternate=='signup'; else elseTemplate">
          <ion-button color="light" (click)="v_alternate='signin'" expand="block" fill="clear" shape="round">
            Ou se connecter a un compte
          </ion-button>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-button color="light" (click)="v_alternate='signup'" expand="block" fill="clear" shape="round">
            Creer rapidement un compte
          </ion-button>

        </ng-template>
      </div>
    </div>
  </div>
</ion-content>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Connexion...</p>
</ngx-spinner>