<ion-slides [options]="slidesOptions">
    <ion-slide>
        <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Nom</ion-label>
        </ion-chip>
    </ion-slide>
    <ion-slide>
        <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Prenom</ion-label>
        </ion-chip>
    </ion-slide>
    <ion-slide>
        <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Age</ion-label>
        </ion-chip>
    </ion-slide>
    <ion-slide>
        <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Telephone</ion-label>
        </ion-chip>
    </ion-slide>
    <ion-slide>
        <ion-chip color="primary" mode="ios" outline="true">
            <ion-label>Numero</ion-label>
        </ion-chip>
    </ion-slide>
</ion-slides>
<div class="item-input">
    <mat-form-field>
        <input matInput placeholder="nom">
    </mat-form-field>
    
    <button mat-icon-button>
      <mat-icon aria-label="label">add</mat-icon>
    </button>
</div>