<ion-card #bottom class="custom-tab wish" [ngClass]="{'on': noRest, 'off-2': semiRest,
  'off-1': rest, 'off-off': covid}">

  <!-- <ion-tabs> -->
  <div class="tabs" slot="bottom">
    <ion-tab-button class="border" color="primary" (click)="goHome()">
      <ion-icon [attr.color]="tabs[0].color" name="home"></ion-icon>
      <ion-label [attr.color]="tabs[0].color">Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button class="border" (click)="goSemi('message')">
      <ion-icon [attr.color]="tabs[1].color" name="text"></ion-icon>
      <ion-label [attr.color]="tabs[1].color">Messages</ion-label>
      <ion-chip class="news" *ngIf="messageManager.nbNew" color="success"> {{messageManager.nbNew}} </ion-chip>
    </ion-tab-button>
    <ion-tab-button class="border" (click)="goSemi('posts')">
      <ion-icon [attr.color]="tabs[2].color" name="notifications"></ion-icon>
      <ion-label [attr.color]="tabs[2].color">Notifications</ion-label>
      <ion-chip class="news" *ngIf="notif.count" color="success"> {{notif.count}} </ion-chip>
    </ion-tab-button>
    <ion-tab-button (click)="openPerso()">
      <ion-icon [attr.color]="tabs[3].color" name="person"></ion-icon>
      <ion-label [attr.color]="tabs[3].color">Moi</ion-label>
    </ion-tab-button>
  </div>
  <!-- </ion-tabs> -->
  <ion-card-content>
    <!-- <ion-tab-bar color="white"> -->

    <div class="area">
      <div class="most">
        <most-news (interested)="goNoRest()" *ngIf="mostNews"></most-news>
        <most-messages (interested)="goNoRest()" *ngIf="mostMessages"></most-messages>
        <most-posts (interested)="goNoRest()" *ngIf="mostPosts"></most-posts>
      </div>
    </div>




    <div class="ion-activatable" (click)="goRest()" class="b-tools" [ngClass]="{'on': !rest, 'off': rest}">
      <button mat-icon-button color="light">
        <mat-icon aria-label="label">close_circle</mat-icon>
      </button>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </ion-card-content>
</ion-card>