<mat-toolbar color="primary" class="mat-elevation-z4" mode='ios'>
  <mat-toolbar-row *ngIf="!searchBar">
    <ion-searchbar (click)="openSearchBar()" mode="ios" placeholder="" animated showCancelButton cancelButtonText="">
    </ion-searchbar>



  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="searchBar">
    <button mat-icon-button (click)="back()">
      <!-- <mat-icon aria-label="label">keyboard_backspace</mat-icon> -->
      <ion-icon slot="start" name="keyboard_backspace"></ion-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>