.element {
  // box-shadow: 0 0 1px #0000001c;
  background-color: white;
}

.avatar {
  margin-top     : 3vh;
  display        : flex;
  justify-content: space-between;
  position       : absolute;
  bottom         : -27px;
}

.comments {
  margin-left : 1.5em;
  margin-right: 1.5em;

  .other {

    .text {
      padding   : 7px;
      text-align: justify;
      color     : darkgray;
      height    : 3px;
    }

    .name {
      font-weight    : bold;
      text-align     : left;
      display        : flex;
      justify-content: space-between;
    }

  }
}

.user {
  display        : flex;
  justify-content: flex-start;
  width          : 100%;
  align-items    : center;

  .cover {
    margin-top : 10px;
    width      : 100%;
    margin-left: 8px;

    .sub {
      color     : darkgray;
      font-size : 12px;
      margin-top: 3px
    }
  }
}

.empty {
  display        : flex;
  justify-content: center;
}

.date {
  color: var(--ion-color-medium);
}

.state {
  // position        : relative;
  top             : 35px;
  z-index         : 7;
  display         : flex;
  justify-content : space-between;
  width           : 90%;
  margin          : auto;
  background-color: white;
  margin-top      : 5px;




  .title-wrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .title {
    border-radius   : 4px;
    padding         : 6px;
    color           : white;
    font-size       : 3vh;
    background-color: var(--ion-color-primary);
    width           : fit-content;
  }
}

ion-card {
  margin       : 0;
  margin-bottom: 16px;

  .content {
    // max-height   : 79px;
    // text-overflow: hide;
    color: var(--ion-color-medium);
  }

  ion-img {
    height: 151px;
  }

}

.actions {
  display        : flex;
  justify-content: space-around;
  width          : 100%;
  margin         : 0;
  margin-top     : 10px;
}

.additional {
  display        : flex;
  justify-content: flex-end;
  justify-content: flex-end;
  margin-top     : 13px;

  ion-note {
    padding-left: 7px;
  }
}

.do-comment {
  display        : flex;
  justify-content: center;
  align-items    : center;
}