<!-- <div> -->

<ion-card button mode="ios" class="element">
  <div class="state">
    <div class="user">
      <ion-avatar (click)="open()">
        <img src="/assets/user_1.png" />
      </ion-avatar>
      <div class="cover">
        <div class="">AngeloAngeloAngelo</div>
        <div class="sub">Samedi à 10h00</div>
      </div>
    </div>
    <div class="title-wrapper">
      <p class="title"> benevolat</p>
    </div>
  </div>
  <ion-card-header (click)="open()">
    <!-- <ion-card-subtitle class="ion-text-end"></ion-card-subtitle> -->
    <ion-card-title color="primary" class="f-s-b">
      <span>Un developeur d'algorithme de AI, avec tensorflow </span>
      <p class="date"></p>
    </ion-card-title>
  </ion-card-header>
  <!-- <ion-card-header (click)="open()">
      <ion-card-title class="f-s-b">
        <ion-avatar>
          <img src="/assets/user_1.png">
        </ion-avatar>
        <p class="date">Poster par angelo</p>
      </ion-card-title>
    </ion-card-header> -->
  <ion-card-content (click)="open()">
    <!-- 328 x 218 pixels -->
    <!-- 1360 × 903 pixels -->
    <ion-img src="/assets/pub_img.png" alt=""></ion-img>
    <p class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste libero a voluptate ullam cupiditate nostrum.
      Eligendi, pariatur. Aut cumque voluptatum itaque officiis, cum quia enim esse suscipit aliquam ullam porro.
    </p>

    <div class="additional">
      <ion-note color="medium">
        <ion-icon name="pricetag"></ion-icon>
        gratuit
      </ion-note>
      <ion-note color="medium">
        <ion-icon name="pricetag"></ion-icon>
        Intersee par 20 personnes
      </ion-note>
      <ion-note color="danger">
        <ion-icon name="pricetag"></ion-icon>
        Fermer
      </ion-note>
    </div>
    <div class="actions ion-margin-start ion-margin-end">
      <ion-chip color="medium" mode="ios" outline="false">
        <ion-icon name="heart"></ion-icon>
        <ion-label>aimer</ion-label>
      </ion-chip>
      <ion-chip color="medium" mode="ios" outline="false">
        <ion-icon name="message"></ion-icon>
        <ion-label>123 Commentaires</ion-label>
      </ion-chip>
      <ion-chip color="medium" mode="ios" outline="false">
        <ion-icon name="text"></ion-icon>
        <ion-label>postuler</ion-label>
      </ion-chip>
      <ion-chip color="medium" mode="ios" outline="false">
        <ion-icon name="share"></ion-icon>
        <ion-label>partager</ion-label>
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card>



<!-- <div class="comments" (click)="open()">
    <div class="other">
      <p class="name">
        <span>Nom prenom</span>
        <span>Samedi à 10h09</span>
      </p>
      <p class="text ion-text-sm-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In veritatis laudantium eos saepe incidunt. Rem fuga
        qui
        velit ullam pariatur neque, quae soluta nulla, minima consequatur, rerum ipsum voluptate commodi!
      </p>
    </div>
  </div> -->

<!-- <div class="empty">
    <ion-chip class="ion-hide" color="medium" mode="ios" outline="false">
      <ion-label class="ion-text-center">Soyez la première personne à commenter ce post !!</ion-label>
    </ion-chip>
    <ion-chip color="medium" mode="ios" outline="false">
      <ion-label class="ion-text-center">Voir tous les commentaires</ion-label>
    </ion-chip>
  </div> -->
<!-- </div> -->