.mat-menu-panel {
  width: 200px;
}

ion-content {
  --background: var(--ion-color-primary);

  div {
    background-color: white;
  }
}

.additive {
  display: none;
  padding: 20px;
  background-color: var(--ion-color-white);
  button {
    margin: 5px;
  }
}

ion-tab-bar {
  // --background: var(--ion-color-dark);
}

.camera {
  width: 100%;
  height: 100%;

  will-change: transform;
}

.hide {
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
}

.show {
  transition: transform 700ms ease-in;
  transform: translateY(0%);
}
