<h5 class="body-title">
  <ng-container *ngIf="popular; else elseTemplate">
    Les populaires
  </ng-container>
  <ng-template #elseTemplate>
    Les nouveaux membres
  </ng-template>

</h5>

<ion-card class="pop ion-no-padding ion-no-margin ion-margin-bottom">
  <ion-slides #slides [options]="slidesOptions" mode="ios">
    <ion-slide *ngFor="let item of populars">
      <ion-card (click)="showMore($event, item)" button mode="ios" class="wrapper ion-no-padding ion-no-margin">
        <img src="/assets/user_1.png" alt="">
        <div class="text">
          <p class="cccc">
            <ng-container *ngIf="item.last_name; else elseTemplate">
              {{item.first_name}} {{item.last_name}}
            </ng-container>
            <ng-template #elseTemplate>
              <ng-container *ngIf="item.email; else elseTemplate">
                {{ item.email}}
              </ng-container>
              <ng-template #elseTemplate>
                {{ item.phone_number}}
              </ng-template>
            </ng-template>
          </p>
          <div>{{item.job}} </div>
          <div>{{item.competencies_count}} Competences </div>
          <div>{{item.interests_count}} Centres d'interets </div>
        </div>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-card>