<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <form (submit)="onSearchSubmit($event, searchBar)">
      <ion-searchbar #searchBar autofocus='true' mode="ios" placeholder="Rechercher" inputmode="text" type="text"
        [debounce]="700">
      </ion-searchbar>
    </form>

  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <div class="helper" [@helper]="(showHelper || competencies.length == 0) ?
    'show': 'hide'">
    <div class="center-text">
      Vous pouvez tout trouver
    </div>
  </div>



  <!-- <div class="competencies disable-scrollbar" [ngClass]="{'show-advanced': competencies.length != 0,
    'hide-advanced': competencies.length == 0
    }">

    <ion-slides mode="ios" [options]='slidesOptions' [ngClass]="{'alert-already': alertAlready}">
      <ion-slide *ngFor="let c of competencies">
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-label>{{c}}</ion-label>
          <button mat-icon-button (click)="remove(c)">
            <mat-icon color="accent" aria-label="label">cancel</mat-icon>
          </button>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </div> -->

  <div padding-left padding-right>

    <!-- <div *ngIf="searchState == null">
      REecherchez quelque chose
    </div> -->

    <div *ngIf="searchState == 'result'" [ngClass]="{'show-answer': showAnswer &&
      (competencies.length != 0) ,
      'hide-answer': !showAnswer }">


      <mat-tab-group (selectedIndexChange)="parseToSearchAndUpdate($event)" [selectedIndex]='selectedTab'>
        <mat-tab label="Personnes">
          <ion-row>
            <ion-col size="12">
              <mat-list>
                <div *ngFor="let member of searchResult">
                  <list-menu [member]='member'></list-menu>
                </div>
              </mat-list>
            </ion-col>
          </ion-row>
        </mat-tab>

        <mat-tab label="Posts">
          <ion-row>
            <ion-col size="12">

              <ion-list lines="none">
                <ion-item button (click)="openPost(value)" *ngFor="let value of searchResult">
                  <ion-avatar slot="start">
                    <img
                      [src]="(value.avatar == 'default.png' || value.avatar == null)? '/assets/user_1.png' : value.avatar" />
                  </ion-avatar>
                  <ion-label>
                    <p>Publier par {{value.name}}</p>
                    <h3>{{value.titre_post}}</h3>
                  </ion-label>
                </ion-item>
              </ion-list>

            </ion-col>
          </ion-row>
        </mat-tab>



        <mat-tab label="Annonces">
          <ion-row>
            <ion-col size="12">
              <ion-list lines="none">
                <ion-item button (click)="openAnnonce(value)"  *ngFor="let value of searchResult">

                  <p>{{value.titre_post}}</p>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </mat-tab>

      </mat-tab-group>

      <div class="empty" *ngIf="searchResult.length == 0">
        Resultat vide
      </div>

      <connection-error-pane [show]="showErrorPane " (onRetry)="onRetry()">
      </connection-error-pane>
    </div>

    <ion-row *ngIf="searchState == 'searching'">
      <ion-col size="12" class="wait">
        <div>
          <div class="loading">
            <div class="lds-roller primary">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </div>




</ion-content>