.loader-hidden {
  visibility: hidden;
}

.loader-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 50000;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

.advanced-search-modalbox .mat-dialog-container {
  // background-color: rgba(0, 0, 0, 0.0);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.loading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller.primary div:after {
  background: var(--ion-color-primary) !important;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--ion-color-light);
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wait-answer {
  display: block;
  height: 300px;
  margin-top: 140px;
}

.no-wait {
  display: none;
}

app-sign-up {
  .mat-tab-label {
    background-color: #3f51b5;
    color: white;
  }

  mat-ink-bar {
    background-color: white !important;
  }
}

app-home {
  .segment-button-indicator {
    height: 3px !important;
  }

  .searchbar-input {
    background-color: white !important;
  }

  .searchbar-search-icon {
    margin-left: 10px !important;
  }

  .swiper-scrollbar-drag {
    background: lighten($color: #3f51b5, $amount: 5);
  }

  .actions.active button {
    transition: all 0.3s ease;
    animation: fadeIn 300ms ease-in 50ms linear;
  }

  .actions.active button:nth-of-type(2) {
    transition-delay: 100ms;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
    text-align: center !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
  }

  .state {
    top: 8vh !important;
  }

  .body-title {
    margin-left: 16px;
    color: var(--ion-color-medium-shade);
  }
}

app-personal {
  .mat-tab-label {
    width: 100%;
    padding: 0;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding-left: 16px;
  }

  mat-tab-body {
    height: 100%;
    padding: 16px;
  }
}

.mat-menu-content {
  min-width: 200px !important;
}

.f-f-a {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
}

.f-c-c {
  display: flex;
  justify-content: center;
}

.f-s-b {
  display: flex !important;
  justify-content: space-between;
}

.i-title {
  color: var(--ion-color-medium-tint);
  margin-left: 16px;
  margin-bottom: 0;
}

.detail-failed .toast-content {
  background-color: blueviolet;
}

.detail-failed .toast-message {
  color: #3f51b5;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--ion-color-secondary);
}

app-uxinfos {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: var(--ion-color-success);
  }
}

// Search autocomplete

.search.autocomplete {
  background-color: var(--ion-color-primary);
  width: 100%;
  height: auto;
}

fenes-search-autocomplete {
  width: 100%;
  position: fixed;
  top: 57px;
}

.search-autocomplete-backdrop {
  background-color: #0d195f24;
  top: 57px;
}

//------------------------------------NOTIFICATION
.noti-zone {
  background-color: var(--ion-color-primary);
  height: 55px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

fenes-member-detail .mat-spinner circle {
  stroke: white !important;
}

list-menu {
  mat-progress-bar .mat-progress-bar-buffer {
    background: rgb(163, 172, 184);
  }
}

.capitalize {
  text-transform: capitalize;
}

app-top {
  position: relative;
  top: -1px;
}

.wait-email-validation {
  align-items: flex-end;

  .modal-wrapper {
    height: 50vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
  }
}

app-intro-slides {
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1.6);
    transition: transform 700ms ease;
  }
}

app-camera-component {
  background-color: transparent;
}
