ion-content {
  --background: var(--ion-color-primary);

  div {
    background-color: white;
  }

  .load {
    height: 100%;
    width: 100%;
    position: absolute;

    .loading {
      background-color: blue;
      position: absolute;
      top: 50%;
      left: 39%;
    }
  }

  .error-pane {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    .pane-content {
      position: relative;
      top: 24vh;
    }
  }
}

